.jumbotron {
  text-align: center;
  background-color: lightyellow;
  border-color: purple 2px;
}

.result {
  display: none;
}

body {
  background-color: skyblue;

}

#box {
  border-style: ridge;
  background-color: #ccccff;
}

.container {
  border-style: groove;
  background-color: lightyellow;
}
